.index-wrap {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .index-wrap header, .index-wrap footer {
    height: .44rem;
    background: #00b38a;
    text-align: center;
    line-height: .44rem;
    color: #fff;
    font-size: .18rem; }
  .index-wrap main {
    flex: 1;
    overflow: hidden;
    font-size: .73rem; }
